
{% extends "main/header.html" %}

{% block content %}
{% include "main/includes/hero.html" %}
<br><br>
<div class="container">
    <!-- <h3 class="center-align">Offered Category of Courses</h3> -->
    <div class="row">
        {% for cat in categories %}
        <div class="col s12 m6 l4">
            <a href="{{cat.category_slug}}">
                <div class="card hoverable grey lighten-5">
                    <div class="card-content grey-text text-darken-4">  
                        <img src={{cat.category_image}} style="width: 100%; padding-bottom: 12px;" alt="image">
                        <p class="card-title">{{cat.tutorial_category}}</p>
                        <p>{{cat.category_summary}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
    {% endblock %}