{% extends "main/header.html" %}

{% block content %}
<div class="row container">
    <br><br>
    <h2>{{series_category}}</h2>
    {% for tut, partone in part_ones.items %}
    <div class="col s12 m6 l4">
        <a href="{{partone}}">
            <div class="card hoverable grey lighten-5" >
                <div class="card-content  grey-text text-darken-4">
                    <img src="{{tut.series_image}}" alt="img" style="width: 100%; padding-bottom: 14px;">
                    <span class="card-title">{{tut.tutorial_series}}</span>
                    <p>{{tut.series_summary}}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}