{% load static %}
<footer class="page-footer">
  <div class="footer-bg">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href="" class="brand-logo" style="padding-top: 14px;">
            <img class="responsive-img"  src="{% static 'img/logo-white2.png' %}" alt="img" style="width: 150px;">
          </a>
          <p class="grey-text text-lighten-4">
            Your Path to Knowledge Starts with Every Word
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Connect with me</h5>
          <ul>
            <li class="footer-contact-links">
              <i class="material-icons">email</i><a class="grey-text text-lighten-3" href="mailto:vishalverma41889@gmail.com">vishalverma41889@gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2024 Copyright Vishal Verma
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </div>
</footer>
