<div id="index-banner" class="parallax-container " style="height: 70vh;">
    <div class="section no-pad-bot ">
      <div class="container">
        <br><br>
        <h1 class="header center" style="margin-top: 6rem;">TeachScript</h1>
        <div class="row center">
          <h5 class="header col s12 light">Your Path to Knowledge Starts with Every Word</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="custom-btn" ">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax">
        <img src="https://cdn.pixabay.com/photo/2017/05/19/06/22/desk-2325627_960_720.jpg">
        <div class="gradient-overlay"></div>
    </div>
  </div>
