<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text ">TeachScript</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Your Path to Knowledge Starts with Every Word</h5>
        </div>
        <div class="row center">
          <a href="" id="download-button" class="custom-btn" ">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax">
        <img src="https://plus.unsplash.com/premium_vector-1720891748699-e91b3606f222?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <div class="gradient-overlay"></div>
    </div>
  </div>
