<nav>
  {% load static %}
  <div class="nav-wrapper navbar-style">
    <div class="container">
      <a href="/main/templates/main/header.html" class="brand-logo" style="padding-top: 12px;">
        <img class="responsive-img"  src="{% static 'img/logo-white2.png' %}" alt="img" style="width: 150px;">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down nav-style">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
        
        <li><a href="/account/" style="display: flex; gap: 4px;"><i class="material-icons">account_circle</i> {{user.username}}</a></li>
        <li><a href="/logout/">Logout</a></li>
        {% else %}
        <li><a href="/register/">Register</a></li>
        <li><a href="/login/">Login</a></li>
        {% endif %}
      </ul>

      <ul id="slide-out" class="sidenav">
        <li>
          <div class="background">
            <a href="#" class="brand-logo" style="padding-top: 12px;">
              <img class="responsive-img"  src="{% static 'img/logo-white2.png' %}" alt="img" style="width: 150px;">
            </a>
          </div>
        </li><br>
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
          <li><a href="/account/" style="display: flex; gap: 4px;"><i class="material-icons">account_circle</i> {{user.username}}</a></li>
          <li><a href="/logout/">Logout</a></li>
        {% else %}
          <li><a href="/register/">Register</a></li>
          <li><a href="/login/">Login</a></li>
        {% endif %}
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    </div>
  </div>
</nav>